@using TheDiscDb.InputModels
@if (string.IsNullOrWhiteSpace(this.ListText))
{
    <span />
}
else
{
    <div class="chip-list">
        @foreach (var text in this.ListText.Split(',', StringSplitOptions.TrimEntries | StringSplitOptions.RemoveEmptyEntries))
        {
            <RoleLink Item="@Item" Text="@text" Role="@Role" />
        }
    </div>
}