.gruv-buy-button {
    display: inline-flex;
    align-items: center;
    margin-left: 0.25rem;
}

.gruv-buy-button a {
    display: inline-flex;
    align-items: center;
}

.gruv-buy-button img {
    display: block;
}
