@if (!string.IsNullOrEmpty(this.AffiliateUrl))
{
    <span class="gruv-buy-button" title="Buy at gruv.com"><a href="@AffiliateUrl" target="_blank" rel="noreferrer sponsored"><img src="/gruv-icon.png" alt="Buy at gruv.com" width="@this.Width" /></a></span>
}
