@page "/contribution/{contributionId}/discs/{discId}"
@using HighlightBlazor

@rendermode InteractiveAuto

<h1>Upload Disc Logs</h1>

<div class="mb-3">
    <label>Drive Index</label>
    <SfDropDownList TValue="string" TItem="string" DataSource="driveIndices" class="form-control" @bind-Value="DriveIndex" />
</div>

To add add a disc, run the following command on your machine:
<SfTab @bind-SelectedItem="selectedIndex">
    <TabAnimationSettings>
        <TabAnimationPrevious Effect="Syncfusion.Blazor.AnimationEffect.None"></TabAnimationPrevious>
        <TabAnimationNext Effect="Syncfusion.Blazor.AnimationEffect.None"></TabAnimationNext>
    </TabAnimationSettings>
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="Powershell"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <CodeHighlight CodeLanguage="PowerShell" Code="@PowershellCommand" />
            </ContentTemplate>
        </TabItem>
        <TabItem Content="">
            <ChildContent>
                <TabHeader Text="Bash"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <CodeHighlight CodeLanguage="Bash" Code="@BashCommand" />
            </ContentTemplate>
        </TabItem>
    </TabItems>
</SfTab>

<button class="btn btn-primary" @onclick="CopyTextToClipboard" disabled=@state.IsDisabled>
    <i class="@state.IconClassName"></i> @state.Text
</button>

@if (showSpinner)
{
    <div>
        <div class="lds-ripple" title="Checking for logs"><div></div><div></div></div>
        <span>Checking for logs...</span>
        <div>The page will automatically update once the logs are done uploading.</div>
    </div>
}

<a href="/contribution/@this.ContributionId/discs/@this.DiscId/edit">Back to disc details</a>