@page "/contribution/{contributionId}/adddisc/{hash}"

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<h3>Hash Lookup</h3>
@foreach (var item in foundItems)
{
    <div>
        <a href="@item.ItemDetailUrl()" title="@item.Title">
            <MediaImage Url="@item?.ImageUrl" Width="156" Height="231" Title="@item?.Title" />
        </a>
    </div>
}