@page "/contribution/{contributionId}/discs/{discId}/identify"

@using Microsoft.AspNetCore.Components.QuickGrid

@rendermode InteractiveAuto

<h1>Indentify Items</h1>
@if (titles is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="titles">
        <PropertyColumn Property="@(t => t.ChapterCount)" />
        <PropertyColumn Property="@(t => t.DisplaySize)" />
        <PropertyColumn Property="@(t => t.SegmentMap)" />
        <TemplateColumn>
            @* <SfDropDownList TValue="string" TItem="string">

            </SfDropDownList> *@
            @* <Dropdown>
                <DropdownToggle Color="Color.Primary" ToggleIconVisible="false">
                    <Icon Name="GetIcon(context)" />
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem Clicked='() => IdentifyItemClicked(context, "MainMovie")'>Main Movie</DropdownItem>
                    <DropdownItem Clicked='() => IdentifyItemClicked(context, "Episode")'>Episode</DropdownItem>
                    <DropdownItem Clicked='() => IdentifyItemClicked(context, "Extra")'>Extra</DropdownItem>
                    <DropdownItem Clicked='() => IdentifyItemClicked(context, "DeletedScene")'>Deleted Scene</DropdownItem>
                    <DropdownItem Clicked='() => IdentifyItemClicked(context, "Trailer")'>Trailer</DropdownItem>
                </DropdownMenu>
            </Dropdown> *@
        </TemplateColumn>
    </QuickGrid>
}
