@page "/contribute/{mediaType}"
@using TheDiscDb.Services

@rendermode InteractiveAuto

<h3>What @MediaType would you like to contribute?</h3>
<SfAutoComplete TValue="ExternalSearchResult" TItem="ExternalSearchResult" @bind-value="SelectedItem" PopupWidth="500px">
    <SfDataManager AdaptorInstance="@typeof(ExternalSearchDataAdaptor)" Adaptor="Adaptors.CustomAdaptor"></SfDataManager>
    <AutoCompleteFieldSettings Value="Title"></AutoCompleteFieldSettings>
    <AutoCompleteTemplates TItem="ExternalSearchResult">
        <ItemTemplate>
            <span class="thumb"><img src="@((context as ExternalSearchResult).ImageUrl)" width="92" class="thumb" /></span>
            <span class="media-item-title">@GetItemDisplayText(context as ExternalSearchResult)</span>
        </ItemTemplate>
    </AutoCompleteTemplates>
</SfAutoComplete>
<a class="btn btn-secondary" href="/contribute">Back</a>
<button class="btn btn-primary" @onclick="NextClicked" disabled="@IsNextButtonDisabled">Next</button>