@page "/contribute"

@rendermode InteractiveAuto

<h3>Contribute</h3>

<a class="btn btn-primary" href="/contribute/Movie">Movie</a>
or
<a class="btn btn-primary" href="/contribute/Series">Series</a>
