@page "/contribute"

@rendermode InteractiveAuto

<h1>Contribute</h1>
<article>Thank you for contributing to TheDiscDb. We will walk you through the process. In order to complete this process, you must have MakeMkv installed on your system and you must have a disc drive that can read the disc you are trying to contribute.</article>
<article>Place the first disc into your drive and lets get started.</article>
<h2>What type of media are you contributing?</h2>
<a class="btn btn-primary" href="/contribute/Movie">Movie</a>
or
<a class="btn btn-primary" href="/contribute/Series">Series / TV Show</a>
