@page "/about"

<PageTitle>About Us - TheDiscDb</PageTitle>
<HeadContent>
    <meta name="description" content="Learn more about TheDiscDb and how to use it." />
    <link rel="canonical" href="https://thediscdb.com/about" />
</HeadContent>

<h1>About Us</h1>
<article>
    <h2>What is this site for?</h2>
    <p>For those who enjoy building their own digital movie collection from their physical movie colletion, <a href="https://makemkv.com" target="_blank" rel="noreferrer" title="Makemkv official site">MakeMkv</a> is an invaluable tool.</p> 
    <p>This site aims to simplify the process of creating your own digital library from physical discs by allowing the community to share the layout of the discs. This will help you know which files on the disc correspond to which movies, episodes, or special features.</p>
</article>
<article>
    <h2>How do I use this site?</h2>
    <p>coming soon...</p>
</article>
<article>
    <h2>Finding the correct episode order on a TV Show or Series Blu-ray disc</h2>
    <p>coming soon...</p>
</article>
<article>
    <h2>Want to contribute?</h2>
    <p>You can start with the <a href="https://github.com/lfoust/thediscdb-data/wiki/Contribution-Guidelines" target="_blank" rel="noreferrer" title="Contribution Guidelines on Github">contribution guidelines</a>. Feel free to contact us for further assistance.</p>
</article>
<article>
    <h2>Contact Us</h2>
    <p><a href="mailto:web@thediscdb.com">web@thediscdb.com</a></p>
</article>