@page "/search"
@page "/search/{query}"
@using System.Web
@using TheDiscDb.Client.Controls

<PageTitle>
    Search results for '@SearchTerm' - TheDiscDb
</PageTitle>
<HeadContent>
    <meta name="description" content="Search results for '@SearchTerm' on TheDiscDb." />
    <link rel="canonical" href="https://thediscdb.com/search?q=@Uri.EscapeDataString(SearchTerm)" />
</HeadContent>

<h2>Search results for '@SearchTerm'</h2>
@if (Results != null)
{
    <div class="media-item-list">
    @foreach (var item in Results)
    {
        <a href="@item.RelativeUrl" class="media-item-card" title="@item.Title">
            <MediaImage Url="@item?.ImageUrl" Width="156" Height="231" Title="@item?.Title" />
            <span class="media-item-label">@item.Title</span>
        </a>
    }
    </div>
}