@page "/contribute/{hash}"

@rendermode InteractiveAuto

<h3>ContributeRelease</h3>
Collect details about release:
Title (suggest slug)
Date
Cover Image

If the title has existing release, list them here and allow user to add discs

