@page "/contribute"

@rendermode InteractiveWebAssembly

<h3>Contribute</h3>

@if (handler is null)
{
    <button class="btn btn-primary" @onclick="OpenFolderAsync">Pick directory</button>
}
else
{
    <div>Hash: @hash</div>
    foreach (var item in items)
    {
        <div>
            <span class="oi @(item.Kind == FileSystemHandleKind.Directory ? "oi-folder" : "oi-file")" aria-hidden="true"></span>
            @(item.Name)
        </div>
    }
}