@page "/g/{slug}"
@using System.Web

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using TheDiscDb.Components.InfiniteScrolling

<PageTitle>Items related to '@Name' - TheDiscDb</PageTitle>
<HeadContent>
    <meta name="description" content="Items related to '@Name'." />
    <link rel="canonical" href="https://thediscdb.com/g/@HttpUtility.UrlEncode(Slug)" />
</HeadContent>

<h1>Items related to '@Name'</h1>

<div class="media-item-list">
    <InfiniteScrolling ItemsProvider="GetItems">
        <ItemTemplate Context="Item">
            <div>
                <a href="@Item.ItemDetailUrl()" title="@Item.Title">
                    <MediaImage Url="@Item?.ImageUrl" Width="156" Height="231" Title="@Item?.Title" />
                </a>
            </div>
        </ItemTemplate>
        <LoadingTemplate>
            <div><span class="oi oi-reload spin"></span> Loading more items...</div>
        </LoadingTemplate>
    </InfiniteScrolling>
</div>