@page "/Account/Manage"

<PageTitle>Profile</PageTitle>

<h3>Profile</h3>
<h2>@username</h2>
<form action="Account/Logout" method="post">
    <AntiforgeryToken />
    <input type="hidden" name="ReturnUrl" value="" />
    <button type="submit" class="nav-link">
        <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
    </button>
</form>