@page "/Account/InvalidUser"

<PageTitle>Invalid user - TheDiscDb</PageTitle>
<HeadContent>
    <meta name="description" content="The user account is invalid or could not be found on TheDiscDb." />
</HeadContent>

<h1>Invalid user</h1>

<StatusMessage />
