<div class="breadcrumb">
    @foreach (var item in Items)
    {
        <span class="breadcrumb-link"><a href="@item.Url">@item.Text</a></span>
        <span class="breadcrumb-divider">/</span>
    }
    <span class="breadcrumb-primary">@PrimaryText</span>
</div>