@namespace TheDiscDb.Client.Controls
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveAuto

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="The Disc Db"><img src="/nav-logo.png" alt="The Disc Db" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasLabel">
            <div class="offcanvas-header">
                <a class="navbar-brand" href="/" title="The Disc Db" id="navbarOffcanvasLabel"><img src="/nav-logo.png" alt="The Disc Db" /></a>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#navbarOffcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Movies</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/series" Match="NavLinkMatch.All">Series</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/boxsets" Match="NavLinkMatch.All">Boxsets</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/contribute" Match="NavLinkMatch.All">Contribute</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">About</NavLink>
                    </li>
                </ul>
                <label for="site-search" class="visually-hidden">Search</label>
                <input id="site-search" type="text" placeholder="Search..." data-permanent @bind-value="searchQuery" class="form-control main-search-box" @onkeydown="KeyPressed"></input>
                <div class="user-menu-container d-none d-lg-block">
                    @if (isAuthenticated)
                    {
                        <SfDropDownButton CssClass="e-flat user-menu-btn">
                            <ContentTemplate>
                                <div class="user-avatar-wrapper">
                                    <div class="e-avatar e-avatar-circle image">@this.ShortName</div>
                                    @if (hasUnreadMessages)
                                    {
                                        <span class="unread-badge"></span>
                                    }
                                </div>
                            </ContentTemplate>
                            <DropDownButtonEvents ItemSelected="OnUserMenuItemSelected"></DropDownButtonEvents>
                            <DropDownMenuItems>
                                <DropDownMenuItem Text="My Contributions" Id="my-contributions"></DropDownMenuItem>
                                <DropDownMenuItem Text="Messages" Id="messages"></DropDownMenuItem>
                                <DropDownMenuItem Text="Logout" Id="logout"></DropDownMenuItem>
                            </DropDownMenuItems>
                        </SfDropDownButton>
                    }
                    else
                    {
                        <SfDropDownButton CssClass="e-flat user-menu-btn">
                            <ContentTemplate>
                                <div class="e-avatar e-avatar-circle image user-avatar-anon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                    </svg>
                                </div>
                            </ContentTemplate>
                            <DropDownButtonEvents ItemSelected="OnUserMenuItemSelected"></DropDownButtonEvents>
                            <DropDownMenuItems>
                                <DropDownMenuItem Text="Login" Id="login"></DropDownMenuItem>
                            </DropDownMenuItems>
                        </SfDropDownButton>
                    }
                </div>
            </div>
        </div>
    </div>
</nav>