@namespace TheDiscDb.Client.Controls
@rendermode InteractiveAuto

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="The Disc Db"><img src="/nav-logo.png" alt="The Disc Db" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Movies</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/series" Match="NavLinkMatch.All">Series</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/boxsets" Match="NavLinkMatch.All">Boxsets</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contribute" Match="NavLinkMatch.All">Contribute</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All">About</NavLink>
                </li>
            </ul>
            <SfTextBox Placeholder="Search..." data-permanent @bind-text="@searchQuery"></SfTextBox>
            @* <TextEdit Placeholder="Search..." Width="Width.Em(20)" data-permanent Debounce="true" DebounceInterval="200" @bind-Text="@searchQuery" KeyPress="KeyPressed" />
            <Button Size="Size.Small">
                <Icon Name="IconName.Search" />
            </Button> *@
        </div>
    </div>
</nav>