@inherits LayoutComponentBase
@using TheDiscDb.Client.Controls

<div>
    <NavMenu />
    <main class="main-content">
        @Body
    </main>
    <!-- Build Number Here -->
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
