@inherits LayoutComponentBase
@using TheDiscDb.Client.Controls

<Div>
    <NavMenu />
    <Div Style="margin-left: 20px; margin-right: 20px; margin-top: 110px;">
        @Body
    </Div>
    <!-- Build Number Here -->
</Div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
